h1 {
    text-align: center;
}

#forms {
    text-align: center;
}

label {
    width: 5000px;
    font-size:x-large;
    text-align: center;
}

.index {
    text-align: left;
}

input {
    text-align: center;
}

